<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body>
<div>
  <div class='center'>
    <div class='title'>Is it John Oliver or Steve Mnuchin?</div>
    <p>
      The answer to the ultimate question. Upload an image and find out!
    </p>
    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
	  <form>
		<label for='url-to-grab'>File url:</label><br>
		<input class='url-box' type='text' id='url-to-grab' name='url-to-grab'><br>
	  </form> 
	  <button class='choose-file-button' type='button' onclick='showPickedFromUrl()'>Grab Image from URL</button>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Upload Image</button>
      <div class='upload-label'>
        <label id='upload-label'>No file chosen</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200' onerror="this.src='https://drive.google.com/uc?id=1vmFWaRDy47y_SYfpUAYsdqf1gwiJbJOX';">
      </div>
	  <div class='result-label'>
        <label id='result-label'></label>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
      </div>
    </div>
  </div>
  <div class='center-bottom'>
	<p>
      created by Anna Kómár, 2020
    </p>
	<p>
      source code <a href='https://github.com/komaranna/fastai-v3' target='_blank'>here</a>
    </p>
  </div>
</div>
</body>
</html>
